.main-content {
    
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: $color-white;
    
    .sidebar {
        width: 350px;
        height: 100%;
        background-color: $color-secondary;
        position: absolute;
        top: 0;
        right: -350px;
        z-index: 1;
        transition: all 0.5s ease;
        a {
            color: white;
        }
    }
    
    .sidebar-right {
        color: white;
        padding: 60px 35px 15px 35px;
        font-size: 14px;
        .fa {
            font-size: 22px;
        }
        .fa.fa-times {
            font-size: 26px;
        }
        .sidebar-title {
            margin: 15px 0;
        }
        .sidebar-body {
            padding: 10px 0;
            ul {
                li {
                    margin-bottom: 7.5px;
                    a {
                        .fa {
                            margin-right: 5px;
                            width: 22px;
                            font-size: 18px;
                        }
                    }
                    .radio-inline {
                        .radio {
                            width: 22px;
                            margin-top: 1px;
                        }
                        .radio-label {
                            margin-left: 10px;
                        }
                    }
                    .col-lg-6:nth-child(1) {
                        padding-right: 5px;
                    }
                    .col-lg-6:nth-child(2) {
                        padding-left: 5px;
                    }
                }
            }
        }
        .sidebar-footer {
            ul {
                position: absolute;
                right: 15px;
                bottom: 0;
            }
        }
    }
    
    .sidebar.active {
        right: 0px;
        overflow-y: scroll !important;
    }

    .content-title{
        padding: 0 25px;
        margin: 25px 0 15px;
        height: 40px;
        .fa { font-size: 28px; margin-right: 5px;}
        .counter{
            margin: 0;
            position: absolute;
            left: 15px;
        }
        .title{}
    }

    .content-body{

        height: 100vh;
        padding-bottom: 59px;
        overflow: scroll;

    }

}